.sl_module--callout {
	background-image: linear-gradient(180deg, get-color(inverse) 0%, get-color(inverse) $spacing--xl, get-color(primary) $spacing--xl );
	padding-top: 0;

	.sl_card {
		box-shadow: $shadow--alt;
		border-radius: $border-radius;
		padding: $spacing--xl;
		background-color: get-color(accent3);

		@include breakpoint (medium only) {
			padding: $spacing--md;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--sm;
		}//end small down breakpoint

		& > * {
			color: get-color(inverse);
		}//end & > *

		h2 {
			font-size: 3rem;
			margin-bottom: $spacing--xs;

			@include breakpoint (medium only) {
				font-size: 2rem;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1.5rem;
			}//end small down breakpoint
		}//end h2

		p {
			font-size: 1.5rem;
			margin-bottom: $spacing--md;

			@include breakpoint (medium only) {
				font-size: 1.25rem;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				font-size: 1rem;
				margin-bottom: $spacing--sm;
			}//end small down breakpoint
		}//end p

		.sl_button--border {
			border-color: get-color(inverse);
		}//end .sl_button--border
	}//end .sl_card
}//end .sl_module--callout