.sl_module--filterdeck {
	z-index: 0;
	& > .sl_inner {
		& > .sl_row {
			margin: 0 (-$spacing--xs/2);
			& > .sl_cell {
				padding: 0 $spacing--xs/2;

				@include breakpoint (medium down) {
					&:not(:last-of-type) {
						margin-bottom: $spacing--sm;
					}//end &:not(:last-of-type)
				}//end medium down breakpoint
			}//end & > .sl_cell
		}//end & > .sl_row
	}//end & > .sl_inner
}//end .sl_module--filterdeck