.sl_module--search {
	position: relative;
	padding-top: rem-calc(255px);

	@include breakpoint (medium down) {
		padding-top: rem-calc(125px);
	}//end medium down breakpoint

	@include breakpoint (small down) {
		padding-bottom: $spacing--lg;
	}//end small down breakpoint

	.sl_logo {
		display: inline-block;
		background-color: get-color(primary);
		width: 300px;
		height: 300px;
		border-radius: $border-radius--circle;
		position: absolute;
		top: rem-calc(-430px);

		@include breakpoint (medium down) {
			width: 200px;
			height: 200px;
			top: rem-calc(-233px);
			left: 0;
		}//end medium down breakpoint

		img {
			position: absolute;
    		top: 200px;
    		left: calc(50% - 75px);
    		width: 150px;

    		@include breakpoint (medium down) {
    			width: 100px;
    			top: 125px;
    			left: calc(50% - 50px);
    		}//end medium down breakpoint
		}//end img
	}//end .sl_logo

	h1 {
		color: get-color(primary);
		margin-bottom: 0;
		font-weight: $font-weight--regular;
		font-size: rem-calc(72px);

		@include breakpoint (small down) {
			font-size: rem-calc(48px);
		}//end small down breakpoint

		span {
			color: #7FBC42;
			font-family: turbinado-pro,sans-serif;
			font-weight: 300;
			font-size: rem-calc(110px);
			vertical-align: middle;

			@include breakpoint (small down) {
				font-size: rem-calc(72px);
			}//end small down breakpoint
		}//end span
	}//end h1

	p {
		font-size: 1.5rem;
		margin-bottom: $spacing--xxl;

		@include breakpoint (medium only) {
			margin-bottom: $spacing--lg;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			font-size: 1rem;
			margin-bottom: $spacing--md;
		}//end small down breakpoint
	}//end p

	&:before, &:after {
		@include pseudo;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 44px;
		background-image: url(#{$path-img}home/hope-help-healing-hero.jpg);
		background-size: cover;
		background-position: 60% center;
		background-repeat: no-repeat;
		border-radius: 0 0 200px 0;

		@include breakpoint (small down) {
			bottom: 0;
		}//end small down breakpoint
	}//end &:before, &:after

	&:after {
		background-image: linear-gradient(90deg, rgba(195,239,127,0.98) 0%, rgba(233,244,215,0.99) 21%, rgba(243,249,234,0.81) 43%, rgba(255,255,255,0.00) 64%, rgba(247,255,234,0.99) 76%, rgba(207,241,154,0.96) 100%);

		@include breakpoint (large down) {
			background-image: linear-gradient(90deg, rgba(195,239,127,0.98) 0%, rgba(195,239,127,0.81) 0%, rgba(243,249,234,0.81) 43%, rgba(255,255,255,0.00) 65%, rgba(207,241,154,0.86) 100%);
		}//end large down breakpoint

		@include breakpoint (small down) {
			background-image: linear-gradient(90deg, rgba(195,239,127,0.98) 0%, rgba(195,239,127,0.59) 0%, rgba(243,249,234,0.81) 43%, rgba(255,255,255,0.00) 65%, rgba(207,241,154,0.86) 100%);
		}//end small down breakpoint
	}//end &:after

	/* Main input wrapper */
	.algolia-places {
		display: flex;
		position: relative;

		/* The algolia-places input */
		.ap-input {
			@include container;
			border-radius: $border-radius;
			border: 1px solid #D7D8D9;
			height: 88px;
			padding: $spacing--xs $spacing--sm;
			padding-right: $spacing--xs + rem-calc(20px);
			position: relative;
			box-shadow: none;
			margin-bottom: 0;
			font-size: 1.25rem;

			@include breakpoint (small down) {
				height: 50px;
				padding: $spacing--xs $spacing--xs/2;
				padding-right: $spacing--xs + rem-calc(20px);
				font-size: rem-calc(14px);
			}//end small down breakpoint

			@include placeholder {
				color: rgba(get-color(default), .5);
			}//end @include placeholder

			&:focus {
				outline: none;
			}//end &:focus
			
			/* clears the 'X' from IE */
			&[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
			&[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

			/* clears the 'X' from Chrome */
			&[type="search"]::-webkit-search-decoration,
			&[type="search"]::-webkit-search-cancel-button,
			&[type="search"]::-webkit-search-results-button,
			&[type="search"]::-webkit-search-results-decoration { display: none; }

		}//end .ap-input

		/* The icons of each suggestions ( can be a building or a pin ) */
		.ap-suggestion-icon {
			display: none;
		}//end .ap-suggestion-icon

		/* The icons inside the input ( can be a pin or a cross ) */
		.ap-input-icon {
			&.ap-icon-pin {
				svg {
					fill: get-color(primary);
				}//end svg
			}//end &.ap-icon-pin
		}//end ap-input-icon

		/* The styles of the Algolia Places input footer */
		.ap-footer {
			display: none;
		}//end .ap-footer
	}//end .algolia-places

	.ais-SearchBox-form {
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		@include container;
		border: 1px solid #D7D8D9;
		overflow: hidden;
		padding-right: $spacing--xs;
		position: relative;

		@include breakpoint (small down) {
			padding-right: 0;
		}//end small down breakpoint

		&:before {
			@include fontawesome ($content: '\f002');
			position: absolute;
			left: $spacing--xs;
			color: get-color(primary);
			z-index: 2;

			@include breakpoint (small down) {
				display: none;
			}//end small down breakpoint
		}//end &:before

		input {
			height: 88px;
			border: none;
			flex: 1 1 100%;
			padding: $spacing--xs;
			padding-left: $spacing--xs + $spacing--xs + rem-calc(18px);
			padding-right: $spacing--xs + rem-calc(10px);
			position: relative;
			box-shadow: none;
			border-radius: 0;
			margin-bottom: 0;
			font-size: 1.25rem;

			@include breakpoint (small down) {
				height: 50px;
				padding: $spacing--xs $spacing--xs/2;
				padding-right: $spacing--xs + rem-calc(10px);
				font-size: rem-calc(14px);
			}//end small down breakpoint

			@include placeholder {
				color: rgba(get-color(default), .5);
			}//end @include placeholder

			&:focus {
				outline: none;
			}//end &:focus
		}//end .input

		.ais-SearchBox-reset {
			position: absolute;
			right: $spacing--xs + rem-calc(10px) + rem-calc(170px);

			@include breakpoint (small down) {
				right: rem-calc(10px) + rem-calc(50px);
			}//end small down breakpoint
		}//end .ais-SearchBox-reset

		.sl_button {
			display: block;
			margin-bottom: 0;
			width: 170px;
			flex: 1 0 auto;

			i {
				display: none;
			}//end i

			@include breakpoint (small down) {
				width: auto;
				padding: $spacing--xs;
				border-radius: 0 $border-radius $border-radius 0;
				span {
					display: none;
				}//end span

				i {
					display: inline-block;
				}//end i
			}//end small down breakpoint
		}//end .sl_button
	}//end .sl_form
}//end .sl_module--search