.accordion {
	.card {
		border: 1px solid #C3C5C6 !important;
		border-radius: $border-radius !important;
		background-color: get-color(inverse);
		color: get-color(default);

		.card-header {
			background: none;
			padding: 0;
			font-size: 1.125rem;
			padding: 0;
			border: none;

			.sl_accordion__header {
				padding: $spacing--xs $spacing--sm;
				padding-right: $spacing--sm + $spacing--sm + $spacing--xs;
				position: relative;

				@include breakpoint (small down) {
					padding: $spacing--xs;
					padding-right: $spacing--xs + $spacing--sm + $spacing--xs;
				}//end small down breakpoint

				&:after {
					@include fontawesome ($content: '\f0fe');
					font-weight: 400;
					color: get-color(accent3);
					position: absolute;
					right: $spacing--sm;
				}

				&.active {
					&:after {
						content: '\f146';
					}//end &:after
				}//end &.active
			}//end .sl_accordion__header
		}//end .card-header

		.card-body {
			padding: $spacing--sm;
			padding-top: 0;

			& > :last-child {
				margin-bottom: 0;
			}//end & > :last-child
		}//end .card-body
	}//end .card
}//end .accordion