/*----------------------
1. Primary Button
2. Secondary Button
3. Border Button
	- Border Alt
4. External Button
5. Simple Button
6. Phone Button
	- Phone Alt
7. Directions Button
8. Message Button
9. Clear Search Button



- Button Group
------------------------*/

//1. Primary Button
.sl_button {
	@extend .button;
	@include transition (all .2s ease-in-out);
	background-color: get-color(secondary);
	font-weight: $font-weight--bold;
	font-size: 1rem;
	padding: $spacing--xs $spacing--sm;


	&:hover {
		@include transition (all .2s ease-in-out);
	}//end &:hover

//2. Secondary Button 
	&--secondary {
		background-color: get-color(accent3);

		&:hover {

		}//end &:hover
	}//end &--secondary

//3. Border Button
	&--border {
		background: none;
		color: get-color(default);
		border: 1px solid get-color(default);

		&:hover {

		}//end &:hover
	}//end &--border

	&--border-alt {
		background: none;
		color: get-color(accent3);
		border: 2px solid get-color(accent3);

		&:hover {

		}//end &:hover
	}//end &--border-alt

//4. External Button
	&--external {
		&:after {
			@include fontawesome( $content: '\f35d');
			margin-left: $spacing--xs/2;
		}//end &:after
	}//end &--external

//5. Simple Button
	&--simple {
		background: none;
		padding: 0;
		color: get-color(secondary);
		text-decoration: underline;
		font-size: 1.125rem;

		&:after {
			@include fontawesome( $content: '\f054');
			margin-left: $spacing--xs/2;
			display: inline-block;
		}//end &:before

		&:hover {
			background: none;
			color: get-color(primary);
		}//end &:hover
	}//end &--simple

//6. Phone Button
	&--phone {
		background: none;
		padding: 0;
		color: get-color(primary);

		&:before {
			@include fontawesome( $content: '\f879');
			margin-right: $spacing--xs/2;
		}//end &:before

		&:hover {
			background: none;
			color: get-color(secondary);
		}//end &:hover
	}//end &--phone

	&--phone-alt {
		&:after {
			@include fontawesome( $content: '\f095');
			margin-left: $spacing--xs/2;
		}//end &:before
	}//end &--phone-alt

//7. Directions Button
	&--directions {
		&:after {
			@include fontawesome( $content: '\f5eb');
			margin-left: $spacing--xs/2;
		}//end &:before
	}//end &--directions

//8. Message Button
	&--message {
		&:after {
			@include fontawesome( $content: '\f4ad');
			font-weight: 400;
			margin-left: $spacing--xs/2;
		}//end &:before
	}//end &--message

//9. Clear {
	&--clear {
		margin-bottom: 0;
		padding: $spacing--xs/2;
		font-size: rem-calc(14px);
		background: none;
		color: get-color(primary);
		border: 1px solid get-color(primary);
		opacity: .5;

		&[disabled] {
			color: get-color(primary);
			background: none;
			display: none;
		}//end &[disabled]
	}//end *==c;ear
}//end .sl_button

// - Button Group
.sl_button-group {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 100%;

	.sl_button {
		margin-bottom: 0;
	}//end .sl_button

	& > :first-child {
		margin-right: $spacing--md;

		@include breakpoint (small down) {
			margin-right: 0;
			margin-bottom: $spacing--sm;
		}//end small down breakpoint
	}//end & > :first-child

	@include breakpoint (small down) {
		flex-direction: column;
	}//end small down breakpoint

}//end .sl_button-group
