.sl_callout {
	border: 1px solid #C3C5C6;
	border-radius: $border-radius;
	background-color: get-color(inverse);
	color: get-color(default);
	padding: $spacing--sm;
	margin-bottom: $spacing--sm;

	@include breakpoint (small down) {
		padding: $spacing--sm $spacing--xs;
	}//end small down breakpoint

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child
}//end .sl_callout