.sl_card {
	padding: $spacing--sm;
	width: 100%;

	& > :last-child {
		margin-bottom: 0;
	}//end & > :last-child

	&__image {
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
	}//end &__image

	&__content {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end &__content

//-----------------
//TYPES
//-----------------
	&--filterdeck {
		@include container;
		overflow: hidden;
		padding: 0;
		@include transition (all .2s ease-in-out);

		&:hover {
			text-decoration: none;
			box-shadow: none;
			@include transition (all .2s ease-in-out);
		}//end &:hover

		.sl_card {
			height: 100%;

			&__image {
				min-height: 225px;

				@include breakpoint (small down) {
					min-height: 185px;
				}//end small down breakpoint
			}//end .sl_card__image

			&__content {
				padding: $spacing--sm;
				color: get-color(default);
				text-align: center;

				@include breakpoint (large only) {
					padding: $spacing--sm $spacing--xs;
				}//end large only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--xs;
				}//end small down breakpoint

				h3 {
					font-size: 1.5rem;
					font-weight: $font-weight--bold;
					margin-bottom: $spacing--xs/2;

					@include breakpoint (large only) {
						font-size: 1.25rem;
					}//end large only breakpoint

					@include breakpoint (small down) {
						font-size: 1.25rem;
					}//end small down breakpoint
				}//end h3

				p {
					@include breakpoint (small down) {
						font-size: rem-calc(14px);
					}//end small down breakpoint
				}//end p
			}//end &__content

		}//end .sl_card
	}//end &--filterdeck

	&--results {
		margin-bottom: $spacing--sm;
		@include container;

		@include breakpoint (large only) {
			padding: 0;
			overflow: hidden;
		}//end large only breakpoint

		@include breakpoint (small down) {
			padding: 0;
			overflow: hidden;
		}//end small down breakpoint

		.sl_card {
			&__image {
				border-radius: $border-radius;
				width: 175px;
				background-image: url(#{$path-img}placeholder/DefaultHospital-100.jpg);

				@include breakpoint (large only) {
					width: 100%;
					min-height: 125px;
					border-radius: 0;
				}//end large only breakpoint

				@include breakpoint (small down) {
					width: 100%;
					min-height: 125px;
					border-radius: 0;
				}//end small down breakpoint
			}//end .sl_card__image

			&__logo {
				width: 175px;
				display: flex;
				align-items: center;
				justify-content: center;

				@include breakpoint (large only) {
					width: 100%;
					padding: $spacing--sm $spacing--md;
					padding-bottom: 0;
				}//end large only breakpoint

				@include breakpoint (small down) {
					width: 100%;
					padding: $spacing--xs $spacing--md;
					padding-bottom: 0;
				}//end small down breakpoint

				img {
					width: 100%;
					max-height: 130px;
				}//end img
			}//end img

			&__content {
				padding: 0 0 0 $spacing--sm;

				@include breakpoint (large only) {
					padding: $spacing--sm;
				}//end large only breakpoint

				@include breakpoint (small down) {
					padding: $spacing--xs;
				}//end small down breakpoint
			}//end &__content

			&__name {
				font-weight: $font-weight--bold;
				color: get-color(default);
				font-size: 1.25rem;
				margin-bottom: $spacing--xs;

				@include breakpoint (small down) {
					margin-bottom: $spacing--xs/2;
					font-size: 1rem;
				}//end small down breakpoint
			}//end &__name

			&__address {
				@include breakpoint (small down) {
					font-size: rem-calc(14px);
				}//end small down breakpoint
			}//end &__address
		}//end .sl_card

		.sl_button-group {
			justify-content: space-between;

			@include breakpoint (large only) {
				flex-direction: row;
			}//end large only breakpoint

			@include breakpoint (small down) {
				flex-direction: row;
			}//end small down breakpoint

			.sl_button {
				margin: 0;

				@include breakpoint (small down) {
					font-size: 1rem;
				}//end small down breakpoint
			}//end .sl_button
		}//end .sl_button-group
	}//end &--results

}//end .sl_card

//CARD WRAPPERS
a.sl_card {
	display: block;
	height: 100%;
}//end a.sl_card
