.sl_filter {
	background-color: get-color(accent2);
	padding: $spacing--sm;
	height: calc(100vh - 109px);
    overflow-y: auto;

	@include breakpoint (xlarge only) {
		padding: $spacing--sm $spacing--xs;
	}//end xlarge only breakpoint

	@include breakpoint (large only) {
		padding: $spacing--sm $spacing--xs;
	}//end large only breakpoint

	@include breakpoint (medium down) {
		height: auto;
		padding: 0;
		background: none;
	}//end medium down breakpoint

	&__current {
		color: get-color(primary);
		font-weight: $font-weight--bold;
		margin-bottom: $spacing--xs/2;
		font-size: 1rem;
	}//end &__current

	&__filters {
		margin-bottom: $spacing--md;
		ul {
			list-style: none;
			margin: 0;
			li {
				font-size: rem-calc(12px);
				color: #5A6167;
				display: inline-block;

				&:not(:last-of-type) {
					&:after {
						display: inline-block;
						content: '\2022';
						margin-right: 4px;
						padding-left: 4px;
					}//end &:after
				}//end &:not(:last-of-type)
			}//end li
		}//end ul
	}//end &__filters

	&__cat {
		padding-bottom: $spacing--sm;
		border-bottom: 1px solid #D5E1E7;
		margin-bottom: $spacing--sm;
	}//end &__cat

	&__title {
		color: get-color(primary);
		font-weight: $font-weight--bold;
		margin-bottom: $spacing--xs;
		font-size: 1.125rem;
	}//end &__cat

	&__callout {
		padding-top: $spacing--md;

		@include breakpoint (large only) {
			padding-top: $spacing--sm;
		}//end large only breakpoint

		p {
			font-size: 1rem;
			line-height: 1.25;
			margin-bottom: $spacing--xs;
		}//end p

		.sl_button {
			display: block;
		}//end .sl_button
	}//end &__callout

	.ais-RefinementList {
		
		& > ul {
			&.ais-RefinementList-list {
				margin-bottom: $spacing--xs;
			}//end .ais-RefinementList-list

			& > li {
				&:not(:last-of-type) {
					margin-bottom: $spacing--xs/2;
				}//end &:not(:last-of-type)

				label {
					display: flex;
					flex-direction: row;
					align-items: center;
					position: relative;
				}//end label

				input {
					border: 1px solid #D7D8D9;
					background-color: get-color(inverse);
					border-radius: $border-radius;
					width: 18px;
					height: 18px;
					margin-right: $spacing--xs/2;
					margin-bottom: 0;
					-webkit-appearance: none;
					-moz-appearance: none;
						-o-appearance: none;
					appearance: none;
					transition-duration: .5s;
					cursor: pointer;
					flex: 0 0 auto;

					&:checked {
						background-color: get-color(inverse);
						border: none;

						& + span::before {
							@include fontawesome($content: '\f14a');
							display: block;
							position: absolute;
							left: 0px;
						    top: calc(50% - 12.5px);
						    font-size: 21px;
						    color: get-color(secondary);
						}//end & + span::before
					}//end &:checked

					&:focus {
						outline: none;
					}//end &:focus
				}//end input

				.ais-RefinementList-labelText  {
					color: get-color(default);
					font-size: rem-calc(14px);
					line-height: 1.2;
				}//end .ais-RefinementList-labelText

				.ais-RefinementList-count {
					font-weight: $font-weight--bold;
					font-size: rem-calc(12px);
					line-height: 1;
					margin-left: $spacing--xs/2;
					color: rgba(get-color(secondary),.6);
					background-color: rgba(get-color(secondary),.1);
					padding: 2px 4px 4px;
					border-radius: $border-radius;
					border: 1px solid rgba(get-color(secondary),.1);

					// &:before {
					// 	content:'('
					// }//end &:before

					// &:after {
					// 	content: ')'
					// }//end &:after
				}//end .ais-RefinementList-count
			}//end & > li
		}//end & > ul

		button {
			color: #0B999A;
			font-size: 16px;
			text-decoration: underline;
		}//end button

		.ais-RefinementList-showMore {
			// font-size: rem-calc(14px);
		}//end .ais-RefinmentList-showMore
	}//end .ais-RefinementList

	.ais-ClearRefinements-button {
		font-size: rem-calc(14px);
		text-decoration: underline;
		color: get-color(secondary);
		font-weight: $font-weight--bold;
	}//end .ais-ClearRefinements-button

	&__to {
		margin-top: 1rem;
		margin-bottom: .5rem;
	}

	&__slider {
		position: relative;
		height: 25px;

		&:last-of-type {
			padding-top: 15px;
		}//end &:last-of-type

		&__value {
			position: absolute;
			font-weight: $font-weight--bold;
			font-size: rem-calc(14px);
			padding-top: $spacing--xs/2;
		}//end &__value

		.rheostat {
			position: absolute;

			.DefaultBackground {
				height: 4px;
				top: 0;
				left: 0;
				bottom: auto;
				border: none;
			}//end .DefaultBackground

			.DefaultProgressBar_progressBar {
				height: 4px;
			}//end .DefaultProgressBar_progressBar

			.DefaultHandle_handle {
				border: none;
				background-color: get-color(inverse);
				border-radius: 50%;
				width: 16px;
				height: 16px;
				box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);

				&:after, &:before {
					display: none;
				}//end &:after, &:before
			}//end .DefaultHandle_handle

			&:first-of-type {
				left: 0;

				.DefaultBackground {
					background-color: get-color(secondary);
					border-radius: 2.5px 0px 0px 2.5px;
				}//end .DefaultBackground

				.DefaultProgressBar_progressBar {
					background-color: #B8BFC3;
					border-radius: 2.5px 0px 0px 2.5px;
				}//end .DefaultProgressBar_progressBar
			}//end &:first-of-type

			&:last-of-type {
				right: 0;

				.DefaultBackground {
					background-color: #B8BFC3;
					border-radius: 0px 2.5px 2.5px 0px;
				}//end .DefaultBackground

				.DefaultProgressBar_progressBar {
					background-color: get-color(secondary);
					border-radius: 0px 2.5px 2.5px 0px;
				}//end .DefaultProgressBar_progressBar

				.sl_filter__slider__value {
					right: 0;
					left: auto;
				}//end .sl_filter__slider__value
			}//end &:last-of-type
		}//end .rheostat
	}//end &__slider
}//end .sl_filter