.sl_gallery {
	height: 350px;
	position: relative;
	cursor: pointer;

	@include breakpoint (large only) {
		height: 300px;
	}//end large only breakpoint

	@include breakpoint (small down) {
		height: 150px;
	}//end small down breakpoint

	&__container {
		height: 100%;
		width: 100%;
		position: absolute;

		&--grid {
			&:first-of-type {
				left: 0;
				top: 0;
				width: 65%;

				.sl_gallery__image {
					right: $spacing--xs;

					@include breakpoint (small down) {
						right: $spacing--xs/2;
					}//end small down breakpoint
				}//end .sl_gallery__image
			}//end &:first-of-type
			&:not(:first-of-type) {
				right: 0;
				height: 50%;
				width: 35%;
			}//end &:not(:first-of-type)

			&:nth-of-type(2) {
				top: 0;
				bottom: calc(50% - 1.25rem/2);
				padding-bottom: 1.25rem/2;

				@include breakpoint (small down) {
					bottom: calc(50% - rem-cal(4px));
					padding-bottom: $spacing--xs/4;
				}//end small down breakpoint

				.sl_gallery__image {
					bottom: $spacing--xs/2;

					@include breakpoint (small down) {
						bottom: $spacing--xs/4;
					}//end small down breakpoint
				}//end .sl_gallery__image
			}//end &:nth-of-type(2)

			&:nth-of-type(3) {
				bottom: 0;
				top: auto;

				.sl_gallery__image {
					top: $spacing--xs/2;

					@include breakpoint (small down) {
						top: $spacing--xs/4;
					}//end small down breakpoint
				}//end .sl_gallery__image
			}//end &:nth-of-type(3)
		}//end &--grid
	}//end &__container;
	&__image {
		background-size: cover;
		background-position: center center;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: $border-radius;
		overflow: hidden;

		&:after {
			@include pseudo;
			top: 0;
			bottom: 0;
			right: 0;
			left: 0;
			background-color: get-color(primary);
			opacity: 0;
			@include transition (all .2s ease-in-out);
		}//end &:after
	}//end &__image

	&:hover {
		.sl_gallery__image {
			&:after {
				@include pseudo;
				top: 0;
				bottom: 0;
				right: 0;
				left: 0;
				background-color: get-color(primary);
				opacity: .5;
				@include transition (all .2s ease-in-out);
			}//end &:after
		}//end .sl_gallery__image
	}//end &:hover

	&__slider {
		position: relative;
		.slick-slide {
			img {
				margin: 0 auto;
				border-radius: $border-radius;
				box-shadow: $shadow--alt;
			}//end img
		}//end .slick-slide

		&__arrow {
			position: absolute;
			font-size: 3rem;
			color: get-color(inverse);
			top: calc(50% - 37.5px);
			z-index: 10;
			cursor: pointer;
			@include transition (all .3s ease-in-out);

			@include breakpoint (small down) {
				font-size: 1.5rem;
				top: calc(50% - 12px);
			}//end small down breakpoint

			&:hover {
				color: get-color(accent1);
				@include transition (all .3s ease-in-out);
			}//end &:hover

			&--prev {
				left: 0;
				@include breakpoint (small down) {
					left: $spacing--xs/2;
				}//end small down breakpoint
			}//end &--prev

			&--next {
				right: 0;

				@include breakpoint (small down) {
					right: $spacing--xs/2;
				}//end small down breakpoint
			}//end &--next
		}//end &__arrow
	}//end &__slider
}//end .sl_gallery