.sl_map {
	&__marker {
		cursor: pointer;
		i {
			font-size: 1.75rem;
			color: get-color(accent3);
		}//end i

		&--large {
			i {
				font-size: 2rem;
			}
		}
	}//end &__marker

	&__popup {
		padding: $spacing--xs/2;

		h3 {
			font-size: 1.25rem;
			font-weight: $font-weight--bold;
			color: get-color(primary);
			margin-bottom: $spacing--xs/2;
		}//end h3

		p {
			font-size: rem-calc(14px);
			margin-bottom: $spacing--xs/2;
		}//end p

		.sl_button {
			font-size: rem-calc(14px);
			margin-bottom: 0;
		}//end .sl_button
	}//end &__popup
}//end .sl_map