.sl_modal {
	&__content {
		background: none;
		border: none;

		.modal-header {
			border: none;
			padding: 0;

			button {
				padding: 0;
				color: get-color(inverse);
				font-size: 3rem;
				opacity: .7;
				text-shadow: none;
				font-weight: $font-weight--regular;
			}//end button
		}//end .modal-header
	}//end &__content

	&--filter {
		background-color: get-color(accent2);
		padding: $spacing--xs;
		margin: 0;
		max-width: none;

		.sl_modal__content {
			background-color: get-color(inverse);
			border: 1px solid rgba(get-color(default),.2);
			box-shadow: $shadow;
			border-radius: $border-radius;
			padding: 0;
		}//end .sl_modal__content

		.sl_modal__close {
			color: get-color(secondary);
			font-weight: $font-weight--bold;
			margin-bottom: $spacing--sm;

			&:before {
				@include fontawesome( $content: '\f053');
				margin-right: $spacing--xs/2;
				text-decoration: none;
			}//end &:before
		}//end .sl_modal__close
	}//end &--filter
}//end .sl_modal