.sl_toolbar {
		background-color: get-color(accent2);
		border-bottom: 1px solid rgba(get-color(primary), .20);
		display: flex;
		flex-direction: row;
		padding: $spacing--xs;
		font-size: rem-calc(14px);
		justify-content: space-between;
		position: fixed;
		width: 100%;
		top: 95px;
		z-index: 1;

		@include breakpoint (medium only) {
			top: 109px;
		}//end medium only breakpoint

	&__filter {
		display: flex;
		flex-direction: row;
		align-items: center;

		&:before {
			@include fontawesome( $content: '\f1de');
			margin-right: $spacing--xs/2;
		}//end &:before

		&.sl_active {
			color: get-color(secondary);
			font-weight: $font-weight--bold;
		}//end .sl_active
	}//end &__filter

	&__toggle {
		display: flex;
		flex-direction: row;
		border-radius: $border-radius;
		overflow: hidden;
	}//end &__toggle

	&__toggles {
		& > a.nav-link {
			opacity: .5;
			background-color: rgba(get-color(accent3), .3) !important;
			color: get-color(primary) !important;
			padding: $spacing--xs/4 $spacing--xs/2;
			border-radius: 0;

			&.active {
				opacity: 1;
			}//end &.active
		}//end & > a
	}//end &__toggles

	&__list {
		& > a.nav-link {
			&:before {
				@include fontawesome( $content: '\f00b');
				margin-right: $spacing--xs/2;
			}//end &:before
		}//end & > a
	}//end &__list

	&__map {
		& > a.nav-link {
			&:before {
				@include fontawesome( $content: '\f5a0');
				margin-right: $spacing--xs/2;
			}//end &:before
		}//end & > a
	}//end &__map
}//end &__toolbar