.sl_content {
	&__header {
		background-color: get-color(primary);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center center;
		height: 250px;
		position: relative;

		@include breakpoint (medium only) {
			height: 200px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			height: 150px;
		}//end small down breakpoint

		&:before {
			@include pseudo;
			background-image: linear-gradient(90deg, rgba(get-color(primary),.90) 0%, rgba(get-color(primary),0.90) 30%, rgba(get-color(accent3),0.70) 30%);
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;

			@include breakpoint (small down) {
				background-image: linear-gradient(180deg, rgba(get-color(accent3),.70) 0%, rgba(get-color(accent3),0.70) 118px, rgba(get-color(primary),0.90) 118px);
			}//end small down breakpoint
		}//end &:after

		&:after {
			@include pseudo;
			background-image: url(#{$path-img}subtle-dots.png);
			background-size: 54px 30px;
			background-repeat: repeat;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			opacity: .35;
		}//end &:after

		.sl_inner {
			height: 100%;
			padding-top: $spacing--lg;

			@include breakpoint (small down) {
				padding-top: $spacing--xs;
			}//end small down breakpoint
		}//end .sl_inner

		.sl_logo {
			width: 300px;
			height: 150px;
			position: absolute;
			background-color: get-color(inverse);
			border-radius: $border-radius;
			box-shadow: $shadow--alt;
			padding: $spacing--sm;
			display: flex;
			align-items: center;
			justify-content: center;
			bottom: -75px;

			@include breakpoint (medium only) {
				width: 250px;
				height: 140px;
				bottom: -70px;
				padding: $spacing--xs;
			}//end medium only breakpoint

			@include breakpoint (small down) {
				width: auto;
				left: $spacing--md;
				right: $spacing--md;
				padding: $spacing--md $spacing--lg;
				height: 140px;
				bottom: -70px;
			}//end small down breakpoint

			&:before {
				@include pseudo;
				left: (-$spacing--xs);
				right: (-$spacing--xs);
				top: (-$spacing--xs);
				bottom: (-$spacing--xs);
				opacity: .2;
				background-color: get-color(inverse);
				border-radius: $border-radius;
			}//end &:before

			img {
				max-height: 100%;
				width: auto;
				height: 100%;
			}//end img
		}//end .sl_logo
	}//end &__header

	&__back {
		color: get-color(inverse);
		font-weight: $font-weight--bold;
		text-decoration: underline;
		display: block;

		&:before {
			@include fontawesome( $content: '\f053');
			margin-right: $spacing--xs/2;
			display: inline-block;
		}//end &:before

		&:hover {
			color: get-color(inverse);
		}//end &:hover
	}//end &__back

	&__main {
		margin-top: 70px;
		padding-bottom: $spacing--xxl;
	}//end &__main

	&__sidebar {
		padding-right: $spacing--xl;
		border-right: 2px solid get-color(accent1);
		max-width: 535px;

		@include breakpoint (xlarge only) {
			padding-right: $spacing--lg;
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding-right: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding-right: 0;
			padding-bottom: $spacing--sm;
			margin-bottom: $spacing--sm;
			border-right: 0;
			border-bottom: 2px solid get-color(accent1);
			max-width: 100%;
		}//end medium down breakpoint
	}//end &__sidebar

	&__info {
		padding-left: $spacing--xl;

		@include breakpoint (xlarge only) {
			padding-left: $spacing--lg
		}//end xlarge only breakpoint

		@include breakpoint (large only) {
			padding-left: $spacing--md;
		}//end large only breakpoint

		@include breakpoint (medium down) {
			padding-left: 0;
		}//end medium down breakpoint

		h3 {
			color: get-color(primary);
		}//end h3

		h5 {
			font-size: 1.125rem;
			font-weight: $font-weight--bold;
			color: get-color(primary);

			@include breakpoint (small down) {
				font-size: 1rem;
			}//end small down breakpoint
		}//end h5

		.sl_gallery {
			margin-bottom: $spacing--md;
		}//end .sl_gallery
	}//end &__info

	&--location {
		.sl_sidebar {
			padding-top: $spacing--lg;
			h1 {
				color: get-color(primary);
				font-size: 2.5rem;
				line-height: 1.2;

				@include breakpoint (large only) {
					font-size: 2rem;
				}//end large only breakpoint

				@include breakpoint (medium down) {
					font-size: 1.5rem;
				}//end medium down breakpoint
			}//end h1

			&__info {
				margin-bottom: $spacing--sm;

				@include breakpoint (small down) {
					margin-bottom: 0;
				}//end small down breakpoint
				p {
					margin-bottom: 0;

					a {
						color: get-color(default);
						word-break: break-all;
					}//end a
				}//end p
			}//end &__info

			&__address {
				p {
					font-size: 1.25rem;
					margin: $spacing--xs 0 $spacing--sm;
				}//end p
			}//end &__address

			&__hln {
				margin-top: $spacing--sm;
			}

			&__buttongroup {
				background-color: get-color(primary);
				border-radius: $border-radius;
				box-shadow: $shadow--alt;
				display: flex;
				flex-direction: row;
				color: get-color(inverse);
				justify-content: center;
				align-items: stretch;
				text-align: center;

				a {
					color: get-color(inverse);
					padding: $spacing--md $spacing--xs $spacing--xs/2;
					font-size: rem-calc(12px);
					font-weight: $font-weight--bold;
					flex: 1 1 33.333%;
					position: relative;

					&:before {
						position: absolute;
						top: $spacing--xs/3;
						left: calc(50% - 9px);
						font-size: 1.125rem;
					}//end &:before

					&:not(:last-of-type) {
						border-right: 1px solid get-color(inverse);
					}//end &:not(:last-of-type)
				}//end a
			}//end &__buttogroup

			&__phone {
				&:before {
					@include fontawesome( $content: '\f879');
				}//end &:before
			}//end &__phone

			&__directions {
				&:before {
					@include fontawesome( $content: '\f5eb');
				}//end &:before
			}//end &__directions

			&__website {
				&:before {
					@include fontawesome( $content: '\f35d');
				}//end &:before
			}//end &__website

			&__map {
				@include container;
				overflow: hidden;
				padding: 0;
				margin-bottom: $spacing--xs;

				&__content {
					padding: $spacing--sm;

					 p {
					 	margin-bottom: $spacing--xs;
					 }//end p

					 & > :last-child {
					 	margin-bottom: 0;
					 }//end & > :last-child
				}//end &__content
			}//end &__map

			&__cta {
				background-color: get-color(accent2);
				border: 2px solid get-color(accent1);
				border-radius: $border-radius;
				padding: $spacing--sm;
				text-align: center;
				margin-top: $spacing--md;

				@include breakpoint (medium only) {
					padding: $spacing--sm $spacing--xs;
				}//end medium only breakpoint

				h3 {
					font-size: 1.5rem;
					color: get-color(primary);
					font-weight: $font-weight--bold;
					margin-bottom: $spacing--xs/2;
				}//end h3

				p {
					font-size: 1.25rem;
					color: get-color(primary);
				}//end p
			}//end &__cta

			&__content {
				@include breakpoint (medium down) {
					margin-top: $spacing--sm;

					& > p:last-of-type {
						margin-bottom: 0;
					}//end & > :last-child
				}//end medium down breakpoint

				.sl_button {
					padding: $spacing--xs;
					margin-bottom: 0;

					&:not(:first-of-type) {
						margin-left: $spacing--xs;

						@include breakpoint (large only) {
							margin-left: 0;
							margin-top: $spacing--xs;
						}//end large only breakpoint
					}//end &:not(:first-of-type)

					@include breakpoint (large only) {
						width: 100%;
					}//end large only breakpoint
				}//end .sl_button
			}//end &__content
		}//end .sl_sidebar
	}//end &--location
}//end .sl_content