.sl_container {
	&--search {
		& > .sl_row {
			& > .sl_cell {
				max-height: 100vh;
				overflow-y: scroll;
				-ms-overflow-style: none;  /* Internet Explorer 10+ */
			    scrollbar-width: none;  /* Firefox */

			    &::-webkit-scrollbar { 
				    display: none;  /* Safari and Chrome */
				}//end &::-webkit-scrollbar
			}//end & > .sl_cell
		}//end & > .sl_row

		@include breakpoint (medium only) {
			padding-top: 109px + 63px;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 95px + 63px;
		}//end small down breakpoint
		
	}//end &--search

	&__content {
		max-width: 1200px;
		& > .sl_row {
			padding-top: 109px;
			min-height: 100%;
		}//end & > .sl_row
	}//end &__content

	.sl_googlemap {
		padding-top: 109px;
		height: 100vh;
		width: 100%;

		@include breakpoint (medium only) {
			padding-top: 0;
			height: calc(100vh - 109px - 63px);
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding-top: 0;
			height: calc(100vh - 95px - 63px);
		}//end small down breakpoint
	}//end & > div

	.sl_results {
		padding: $spacing--md;
		height: calc(100vh - 109px);
    	overflow-y: auto;

		@include breakpoint (large only) {
			padding: $spacing--md $spacing--sm;
		}//end large only breakpoint

		@include breakpoint (medium only) {
			height: auto;
		}//end medium only breakpoint

		@include breakpoint (small down) {
			padding: $spacing--xs;
			height: auto;
		}//end small down breakpoint

		&__count {
			font-size: 1rem;
			font-weight: $font-weight--bold;
			color: rgba(get-color(default),.8);
		}//end &__count

		&__filter {
			p {
				font-size: 1.5rem;
				font-weight: $font-weight--bold;

				@include breakpoint (small down) {
					font-size: 1.125rem;
				}//end small down breakpoint

				span {
					color: get-color(primary);
				}//end span
			}//end p
		}//end &__filter

		&__load {
			text-align: center;

			.sl_button {
				margin-bottom: 0;

				&[disabled] {
					display: none;
				}//end &[disabled]
			}//end .sl_button
		}//end &__load

	}//end .sl_results
}//end .sl_container