.sl_footer {
	background-color: darken(get-color(primary),5%);
	padding: $spacing--lg 0;
	position: relative;

	@include breakpoint (small down) {
		padding: $spacing--md 0;
	}//end small down breakpoint

	& * {
		color: get-color(inverse);
	}//end & *

	.sl_inner {
		& > :last-child {
			margin-bottom: 0;
		}//end & > :last-child
	}//end .sl_inner
}//end .sl_footer