.sl_header {
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 999;

	&__search {
		width: 100%;
		height: 109px;
		position: relative;
		z-index: 2;
		background-color: get-color(inverse);
		display: flex;
		flex-direction: row;
		align-items: center;
		padding: $spacing--md;
		box-shadow: $shadow;

		@include breakpoint (small down) {
			padding: $spacing--xs/2 $spacing--xs $spacing--xs;
			flex-direction: column;
			height: 95px;
		}//end small down breakpoint
	}//end &__search

	.sl_logo {
		flex: 0 0 auto;
		display: block;
		margin-right: $spacing--md + $spacing--xs/2;

		@include breakpoint (small down) {
			margin: 0;
		 	margin-bottom: $spacing--xs/2;
		}//end small down breakpoint

		img {
		 	max-width: 100px;

		 	@include breakpoint (small down) {
		 		max-width: 53px;
		 	}//end small down breakpoint
		 }//end img
	}//end .sl_logo

	/* Main Algolia Places input wrapper */
	.algolia-places {
		display: flex;
		position: relative;
		max-width: 485px;

		/* The algolia-places input */
		.ap-input {
			margin-bottom: 0;
			background-color: get-color(accent1);
			box-shadow: none;
			border: none;
			border-radius: $border-radius $border-radius;
			height: 57px;
			padding: $spacing--xs $spacing--sm;
			color: get-color(default);

			@include breakpoint (small down) {
				height: 34px;
				padding: $spacing--xs/2 $spacing--xs;
				padding-right: $spacing--xs + rem-calc(10px);
				max-width: none;
				font-size: rem-calc(14px);
			}//end small down breakpoint

			@include placeholder {
				color: rgba(get-color(default), .5);
				background: none !important;
			}//end @include placeholder
			
			/* clears the 'X' from IE */
			&[type=search]::-ms-clear {  display: none; width : 0; height: 0; }
			&[type=search]::-ms-reveal {  display: none; width : 0; height: 0; }

			/* clears the 'X' from Chrome */
			&[type="search"]::-webkit-search-decoration,
			&[type="search"]::-webkit-search-cancel-button,
			&[type="search"]::-webkit-search-results-button,
			&[type="search"]::-webkit-search-results-decoration { display: none; }

		}//end .ap-input

		/* The icons of each suggestions ( can be a building or a pin ) */
		.ap-suggestion-icon {
			display: none;
		}//end .ap-suggestion-icon

		/* The icons inside the input ( can be a pin or a cross ) */
		.ap-input-icon {
			&.ap-icon-pin {
				svg {
					fill: get-color(primary);
				}//end svg
			}//end &.ap-icon-pin
		}//end ap-input-icon

		/* The styles of the Algolia Places input footer */
		.ap-footer {
			display: none;
		}//end .ap-footer
	}//end .algolia-places


	.ais-SearchBox-form {
		display: flex;
		position: relative;
	}//end .ais-SearchBox-form

	.ais-SearchBox-input {
		max-width: 485px;
		margin-bottom: 0;
		background-color: get-color(accent1);
		box-shadow: none;
		border: none;
		border-radius: $border-radius 0 0 $border-radius;
		height: 57px;
		padding: $spacing--xs $spacing--sm;
		color: get-color(default);

		@include breakpoint (small down) {
			height: 34px;
			padding: $spacing--xs/2 $spacing--xs;
			padding-right: $spacing--xs + rem-calc(10px);
			max-width: none;
			font-size: rem-calc(14px);
		}//end small down breakpoint

		@include placeholder {
			color: rgba(get-color(default), .5);
		}//end @include placeholder
	}//end .ais-SearchBox-input

	.ais-SearchBox-submit {
		background-color: get-color(secondary);
		color: get-color(inverse);
		border-radius: 0 $border-radius $border-radius 0;
		font-size: 1.125rem;
		padding: $spacing--xs $spacing--sm;

		@include breakpoint (small down) {
			padding: 0 $spacing--xs;
			font-size: rem-calc(14px);
		}//end small down breakpoint
	}//end .ais-SearchBox-input

	.ais-SearchBox-reset {
		position: absolute;
		right: 75px;
		opacity: .5;
		top: calc(50% - 11px);

		@include breakpoint (small down) {
			right: 46px + 10px;
		}//end small down breakpoint
	}//end .ais-SearchBox-reset
}//end .sl_header