//Content
.sl_content {
	margin-top: 109px;

	&--home {
		margin-top: 0;

		.sl_inner {
			max-width: rem-calc(1344px);
		}//end .sl_inner
	}//end &--home

	&__footer {
		.sl_inner {
			max-width: rem-calc(1344px);
		}//end .sl_inner
	}//end &__footer
}//end .sl_content

//Inner
.sl_inner {
	@include inner;
	position: relative;
	z-index: 1;
}//end .sl_inner